.text-section1{
  margin-right: 10px;
  margin-bottom: 20px;
}

.button{
  background-color: #FFD700;
}
.hero-section {
  background-color: #f8f9fa;
}

.bg-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #A3C9B8;
}

.sm-heading {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 20px;
  color: #C7DAD5;
}

.text-section1 {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* Add animations for the button */
.btn-warning {
  transition: all 0.3s ease;
}

.btn-warning:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);

}
/* Media Queries */
@media (max-width: 768px) {
  .hero-section {
    padding: 30px 0;
  }

  .bg-heading {
    font-size: 2rem;
  }

  .sm-heading {
    font-size: 1.25rem;
  }

  .text-section1 {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .text-left {
    margin-bottom: 20px;
  }

  .img-fluid {
    margin-bottom: 20px;
  }

  .hero-section .btn-warning {
    margin-top: 10px;
  }
}

@media (max-width: 576px) {
  .hero-section {
    padding: 20px 0;
  }

  .bg-heading {
    font-size: 1.75rem;
  }

  .sm-heading {
    font-size: 1rem;
  }

  .text-section1 {
    font-size: 0.75rem;
  }

  .img-fluid {
    margin-bottom: 10px;
  }

  .hero-section .btn-warning {
    margin-top: 10px;
  }
}