h4{
  text-align: center;
  padding-bottom: 10px;
  
}
.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh;
}

.createAccountbutton{
  width: 100%;
  margin-bottom: 10px;
  
}
.formText{
  text-align: center;
}
.social-login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

 .icon {
  margin: 0 10px;
}
.nextAccount{
  text-align: center;
}
.custom-button{
  background-color: pink; /* Change this to your desired color */
  border-color: black;     /* Change this to match the background color */
  color: white;  
}
.custom-input{
  background-color: #D9D9D9;
}
.user-account{
  padding-top: 50px;
}
