.hero-section{
  padding: 50px 0;
  
}
.hero-text .text-section1{
  margin-bottom: 30px;
}
.hero-text h1{
  margin-bottom: 5px;
}
.hero-text p{
  font-size: 14px;
}
.hero-image img{
 width: 600px;
 height: 475px;
}
.mybutton{
  margin-top: 35px;
}